[Unit]
Description=Raspberry Pi Fan control

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/local/bin/fancontrol

[Install]
WantedBy=multi-user.target
